---
title: Mirador Viewer
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>Mirador Viewer</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="shortcut icon" href="{{ siteURL }}/favicon.ico">
  </head>
  <body>
    <div id="mirador" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"></div>
    <script type='text/javascript' src='https://unpkg.com/mirador@latest/dist/mirador.min.js'></script>
    <script type="text/javascript">
      var miradorInstance = Mirador.viewer({
        id: 'mirador',
        windows: [{
          loadedManifest: '{{siteURL}}/images/{{folder}}/manifest.json',
        }],
        selectedTheme:'{%- if miradorTheme and miradorTheme != "" -%}{{miradorTheme}}{% else %}light{%- endif -%}',
        themes: {
          dark: {
            palette: {
              type: 'dark',
              primary: {
                main: '{%- if miradorPrimary and miradorPrimary != "" -%}{{miradorPrimary}}{% else %}#db2845{%- endif -%}',
              },
            },
          },
          light: {
            palette: {
              type: 'light',
              primary: {
                main: '{%- if miradorPrimary and miradorPrimary != "" -%}{{miradorPrimary}}{% else %}#db2845{%- endif -%}',
              },
            },
          },
        }
      });
    </script>
  </body>
</html>
var miradorInstance = Mirador.viewer({
  id: 'mirador',
  themes: {
    dark: {
      palette: {
        type: 'dark',
        primary: {
          main: '#ba55d3',
        },
      },
    },
    light: {
      palette: {
        type: 'light',
        primary: {
          main: '#ba55d3',
        },
      },
    },
  },
});
if no selected theme then default
if no selected color then default
