---
pagination:
  data: collections.manifestGenerator
  size: 1
  alias: manifest
permalink: "images/{{manifest.data.folder}}/manifest.json"
---
{
  "@context": "https://iiif.io/api/presentation/2/context.json",
  "@id": "{{siteURL}}/images/{{manifest.data.folder}}/manifest.json",
  "@type": "sc:Manifest",
  "label": "{%- if manifest.data.label and manifest.data.label != "" -%}{{manifest.data.label}}{% else %}Image Viewer{%- endif -%}",
  {%- if manifest.data.description and manifest.data.description != "" -%}
    "metadata": [
      {
        "label": "Description",
        "value": "<span>{{manifest.data.description | safe}}</span>"
      }
    ],
  {%- endif -%}
  {%- if manifest.data.rights and manifest.data.rights != "" -%}
    "rights": "{{manifest.data.rights}}",
  {%- endif -%}
  {%- if manifest.data.logo and manifest.data.logo != "" -%}
    "logo": "{{manifest.data.logo}}",
  {%- endif -%}
  {%- if manifest.data.viewingDirection and manifest.data.viewingDirection != "" -%}
    "viewingDirection": "{{manifest.data.viewingDirection}}",
  {%- endif -%}
  "sequences": [
    {
      "@id": "{{siteURL}}/sequence/1",
      "@type": "sc:Sequence",
      "canvases": [
      {%- for image in manifest.data.images -%}
        {
          "@id": "{{siteURL}}/images/{{manifest.data.folder}}/canvas/{{ loop.index }}",
          "@type": "sc:Canvas",
          "label": "{{image}}",
          {% if siteURL != "https://yoururl.netlify.app" %}
            {%- if manifest.data.label and manifest.data.label != "" -%}
              {% set manifestLabel = manifest.data.label %}
            {% else %}
              {% set manifestLabel = "Image Viewer" %}
            {%- endif -%}
            {% imageGen "./images/"+manifest.data.folder+"/"+image, manifest.data.folder, manifestLabel %}
          {%- endif -%}
          "images": [
            {
              "@type": "oa:Annotation",
              "motivation": "sc:painting",
              "on": "{{siteURL}}/images/{{manifest.data.folder}}/canvas/{{ loop.index }}",
              "resource":
                {
                  "@id": "{{siteURL}}/images/{{manifest.data.folder}}/{{image}}",
                  "@type": "dctypes:Image"
                }
              }
            ],
            "thumbnail": [{
              "id": "{{siteURL}}/images/{{manifest.data.folder}}/sm-{{image}}",
              "type": "Image",
              "format": "image/jpeg",
              "height": 150
            }],
            "metadata": [{
              "label": "Name",
              "value": "{{image}}"
            }]
        }{%- if loop.last -%}{% else %},{%- endif -%}
        {%- endfor -%}
      ]
    }
  ]
}
